.img-container {
  max-width: 700px;
  text-align: center;
}

.header-link {
  margin-left: 30px;
  margin-right: 30px;
}

.title {
  padding-bottom: 75px;
  text-align: center;
}

.wrap {
  margin: 0;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
