<header></header>
<body>
  <section>
    <div class="wrap full-page justify-content-center">
      <div class="text-light">
        <div>
          <div class="header pt-4 justify-content-center">
            <p>Fullstack Engineer</p>
          </div>
          <div>
            <img
              class="img-container"
              src="assets/images/welcome-static-2.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex sticky-nav justify-content-center">
      <div (click)="smoothScroll('about')" class="green-link">
        About
      </div>
      <div (click)="smoothScroll('work')" class="green-link">Work</div>
      <div (click)="smoothScroll('contact')" class="green-link">Contact</div>
    </div>
  </section>
  <section id="about">
    <div class="full-page row">
      <div class="col-12 col-lg-6 d-flex justify-content-center section-header">
        <div>
          <img class="img-section" src="assets/images/about.png" />
          <div class="d-flex justify-content-center">
            <div (click)="smoothScroll('about')" class="pink-link">
              About
            </div>
            <div (click)="smoothScroll('work')" class="pink-link">Work</div>
            <div (click)="smoothScroll('contact')" class="pink-link">
              Contact
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 section-text">
        <h4 class="py-4">
          <strong
            >I'm a full stack application engineer with a passion for
            functional, beautiful things.</strong
          >
        </h4>
        <h4><strong>Development</strong></h4>
        <p class="pt-2">
          When I began my development career I was captivated by collective
          attitude of the industry to never be satisfied with the status-quo,
          and to never rest on your laurels when you see another problem to
          solve. As I mature on my own path within the industry, that constant
          curiosity sustains my work and drives me put a growth mindset at the
          center of my development practice.
        </p>

        <h4 class="py-4"><strong>UX and Design</strong></h4>
        <p>
          We create technology to solve human problems, and for me, effective
          technology absolutely requires an engaging and seamless human
          experience. I utilize a wide array of tools such as storyboards, user
          personas, and wireframes to help craft the ideal branding and UI for
          my projects.
        </p>
        <div class="pt-4 mt-3 d-flex">
          <div>
            <img class="img-small" src="assets/images/version-root.png" />
          </div>
          <h4 class="py-4 mr-2">
            <strong
              >Curiosity, humility, and collaboration are the values I most try
              to bring to my work within and without the technical space.
            </strong>
          </h4>
        </div>
      </div>
    </div>
  </section>
  <section id="work">
    <div class="row">
      <div
        class="full-page col-12 col-lg-6 d-flex justify-content-center section-header"
      >
        <div>
          <img class="img-section" src="assets/images/work.png" />
          <div class="d-flex justify-content-center">
            <div (click)="smoothScroll('about')" class="white-link">
              About
            </div>
            <div (click)="smoothScroll('work')" class="white-link">Work</div>
            <div (click)="smoothScroll('contact')" class="white-link">
              Contact
            </div>
          </div>
        </div>
      </div>
      <div class="full-page col col-12 col-lg-6 p-0">
        <div
          class="work-container justify-content-center d-flex align-items-center"
        >
          <div>
            <div>
              <button
                class="light-link blog-shadow-dreamy"
                (click)="showNex = !showNex; showSlalom = false"
              >
                Nexspring
              </button>
            </div>
            <div>
              <button
                class="light-link blog-shadow-dreamy"
                (click)="showSlalom = !showSlalom; showNex = false"
              >
                Slalom
              </button>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="showNex">
            <app-nexspring></app-nexspring>
          </div>
          <div *ngIf="showSlalom">
            <app-slalom></app-slalom>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="full-page row">
      <div class="col-12 col-lg-6 d-flex justify-content-center section-header">
        <div>
          <img class="img-section" src="assets/images/contact.png" />
          <div class="d-flex justify-content-center">
            <div (click)="smoothScroll('about')" class="green-link">
              About
            </div>
            <div (click)="smoothScroll('work')" class="green-link">Work</div>
            <div (click)="smoothScroll('contact')" class="green-link">
              Contact
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 full-page section-text">
        <h4 class="text-center py-4">
          <strong>Lets work together</strong>
        </h4>
        <div class="external justify-content-center align-items-center d-flex">
          <div>
            <a [href]="linkedin" target="_blank">
              <img
                class="link-sizing"
                src="assets/images/linked.png"
                alt="linkedin"
              />
            </a>
          </div>
          <div>
            <a [href]="github" target="_blank">
              <img
                class="link-sizing"
                src="assets/images/github.png"
                alt="github"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<footer></footer>
