<div class="container">
  <header></header>
  <body>
    <section>
      <div class="wrap justify-content-center">
        <div class="d-flex sticky-nav justify-content-center">
          <div class="header-link"><a>About</a></div>

          <div class="header-link"><a>Work</a></div>

          <div class="header-link"><a>Contact</a></div>
        </div>
        <div class="text-light">
          <div>
            <div class="header justify-content-center">
              <p>Fullstack Engineer / Growing Artist</p>
            </div>
            <div>
              <img
                class="img-container"
                src="assets/images/welcome-static.png"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div>
        <div class="row">
          <div class="col-6">About</div>
          <div class="col-6">Details</div>
        </div>
      </div>
    </section>
  </body>
  <app-footer></app-footer>
</div>
