@import "~bootstrap/dist/css/bootstrap.css";

$mobile-width: 650px;
$tablet-width: 990px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

:host {
  font-family: "Galada", cursive;
  font-family: "Abel", sans-serif;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f3f3c;
  font-family: "Abel";
}
section {
  height: 100vh;
}
section:nth-child(1) {
  background: #0f3f3c;
}
section:nth-child(2) {
  background: rgb(238, 166, 144);
  @include mobile {
    height: 200vh;
  }
  @include tablet {
    height: 200vh;
  }
}
section:nth-child(3) {
  background: #eeffff;
  @include mobile {
    height: 200vh;
  }
  @include tablet {
    height: 200vh;
  }
}
section:nth-child(4) {
  background: #0f3f3c;
  @include mobile {
    height: 200vh;
  }
  @include tablet {
    height: 200vh;
  }
}
section:nth-child(5) {
  background: #eea690;
}

.work-container {
  height: 100vh;
  background: url(assets/images/split.svg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    max-width: 100vw;
  }

  @include tablet {
    max-width: 100vw;
  }
}

.background-light {
  background-color: #eeffff;
}

.viewport {
  height: 100vh;
  width: 50vw;
  min-height: 100vh;
  max-height: 100vh;

  @include mobile {
    width: 100vw;
  }

  @include tablet {
    width: 100vw;
  }
}

.view-container {
  display: flex;
  align-items: center;

  justify-content: center;
  margin: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abel";
  font-size: 34px;
  margin: 8px 0;
}

h1 {
  font-size: 43px;
  font-family: "Abel";
}

h2 {
  font-size: 35px;
  font-family: "Abel";
}

h3 {
  font-size: 24px;
  font-family: "Abel";
}

h4 {
  font-size: 18px;
  font-family: "Abel";
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  font-size: x-large;
  color: #f0896a;
  margin-bottom: 5px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #eeffff;
}

.header {
  color: #f0896a;
}

.mat-expansion-panel {
  background-color: #eeffff;
  border-radius: 2px;
  min-width: 300px;
}

.mat-expansion-panel-header {
  font-size: 35px;
  font-family: "Abel";
  min-height: 100px;
}

.mat-expansion-panel-header .mat-content {
  display: block;
}

.mat-expansion-panel-body {
  font-size: 16px;
  font-family: "Abel";
}

.light-container-closed {
  margin-top: 100px;
  margin-bottom: 100px;
}

.light-link {
  color: #0f3f3c;
  border: none;
  width: 200px;
  border-radius: 2px;
  background-color: #eeffff;
  padding-top: 15px;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;

  &:hover {
    background-color: #d9dfda;
    cursor: pointer;
  }
}

.pink-link {
  color: #0f3f3c;
  padding-top: 15px;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border-bottom: solid transparent;
  &:hover {
    border-bottom: solid #eeffff;
    cursor: pointer;
  }
}

.white-link {
  color: #f0896a;
  padding-top: 15px;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border-bottom: solid transparent;
  &:hover {
    border-bottom: solid #0f3f3c;
    cursor: pointer;
  }
}

.green-link {
  color: #f0896a;
  padding-top: 15px;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border-bottom: solid transparent;
  &:hover {
    border-bottom: solid #eeffff;
    cursor: pointer;
  }
}

.full-page {
  width: calc(100vw);
  box-sizing: border-box;
  background-position: center center;
  text-align: center;
  box-shadow: 1px 1px 6px transparent;
}

.work-cover {
  overflow: hidden;
  opacity: 0.4;
  height: 50vh;
  width: 50vw;

  @include mobile {
    width: 100vw;
  }

  @include tablet {
    width: 100vw;
  }
}

.image-cover {
  opacity: 0.72;
}

.spacer {
  flex: 1;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  vertical-align: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  max-height: 100vh;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.col-inner {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 0 30px;
  box-sizing: content-box;
}

.section-header {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0;
}

.section-text {
  text-align: left;
  background-color: #eeffff;
  color: #312f2f;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 90px;
  padding-right: 90px;
}

.shadow-longer {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.blog-shadow-dreamy {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.text-dark {
  color: #312f2f;
}

.text-light {
  color: #efffff;
}

footer {
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
